* {
    margin: 1%;
    padding: 0%;
}

body {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(250, 250, 250);
    color: rgb(0, 0, 0);
}
.logo{
    font-size: 25px;
}
.g-17{
    margin-top: -20px;
}


html {
  scroll-behavior: smooth;
}


.side-bar {
  width: 160px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav ul {
  padding: 0;
}

nav li {
  list-style: none;
}

nav li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 0.6rem 0.3rem;
  font-weight: 400;
  transition: all ease-out 250ms;
}

nav li a:hover {
  color: lime;
}

.main-content {
  margin-left: 160px;
}

section {
  background-color: #fafafa;
  height: 90vh;
  /* margin-left: 103px; */
  padding:2.5rem 8rem;
}

section:nth-of-type(2n) {
  background-color: #ccc;
}

section:last-of-type {
  height: 100vh;
}

h1 {
  color: #444;
  font-weight: 600;
}

.active {
  color: rgb(0, 0, 0); 
  font-weight: 600;
}
.text-s{
    font-size: 15px;
    text-align: justify;
}

p{
    color: #878787;
}
.rs{
    color: black;
}

.row {
    display: flex;
    justify-content: space-between; /* Distributes items horizontally with space between them */
}

@media screen and (max-width: 600px) {
    nav li a {
        display: table-cell;
    }
    .navigation{
        margin-top: -36px;
        margin-left: 133px;
    }
    .rw{
        margin-left: -277px;
    }

}